*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

:root{
    --width: 30rem;
    --border: .1rem solid white;
    --primary-color: #22c55e;
    --secondary-color: #555;
    --white-color: #fff;
}

body{
    background-color: rgb(17, 16, 16);
}